#dash {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#dash-main {
  background-color: #f1e5f5ea;
  width: 75%;
  padding: 0 30px;
}

#main-main {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}
