#dash {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#dash-sidebar {
  display: flex;
  background-color: #cddc39;
  width: 25%;
  flex-direction: column;
  align-items: center;
}

#dash-main {
  background-color: rgba(215, 180, 229, 0.844);
  width: 75%;
}

#side-icon {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#side-icon img {
  border-radius: 600px;
  width: 50%;
}

#side-txt {
  width: 100%;
  padding-top: 35px;
  border-bottom: 3px solid black;
}

#sidebar-btn {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btn-create-evt {
  width: 150px;
  height: 60px;
  color: #000000;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  background: #ff9800;
  border: 1px solid #ff9800;
  border-radius: 8px;
}

#sidebar-out {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  width: 100%;
  border-top: 3px solid black;
  padding: 3%;
}

#out-txt {
  margin-left: 3%;
}

#door-btn {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  background-color: #cddc39;
  border: transparent;
}

#main-header {
  display: flex;
  width: 100%;
  height: 8%;
  flex-direction: row;
}

#header-btn {
  display: flex;
  flex-direction: row;
  left: 348px;
  top: 148px;
  width: 93px;
  height: 32px;
  color: #000000;
  font-family: "Source Sans Pro";
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  background: #ffffff;
  border: 1px solid #e91e63;
  border-radius: 11px;
}

#header-search {
  left: 348px;
  top: 148px;
  width: 93px;
  height: 32px;
  color: #000000;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  background: #ffffff;
  border: 1px solid #f3a408;
  border-radius: 11px;
}

#btn-div {
  display: flex;
  width: 50%;
  height: 20%;
  justify-content: space-evenly;
}

#input-div {
  display: flex;
  width: 50%;
  height: 20%;
  justify-content: flex-end;
}
