#login {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

#login-form {
  width: 50%;
  height: 100%;
  background-color: white;
}

#login-img {
  width: 50%;
  height: 100%;
  background-color: #6064be;
}

#login-img img {
  width: 100%;
  height: 100%;
}

#login-form {
  display: flex;
  flex-direction: column;
}

#ada-logo {
  display: flex;
  flex-direction: row;
  width: 10%;
  height: 10%;
  justify-content: flex-start;
  padding: 5px;
}

#ada-logo h1 {
  display: flex;
  align-self: end;
  text-align: start;
  margin-left: 5px;
}

#logotxt {
  margin: 4vh 4vh;
  font-size: 26px;
  text-align: center;
  flex-direction: column;
}

#login form {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

#form-input {
  display: flex;
  width: 100%;
  justify-content: center;
}

#login form input {
  width: 100%;
  margin: 1vh 0;
  height: 30px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  padding: 5px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 0px;
}

#login-btn-wrap {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}

#login-btn {
  left: 161px;
  top: 410px;
  width: 100px;
  height: 40px;
  color: #000000;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  background: #ffeb3b;
  border: 1px solid #000000;
  border-radius: 0px;
}
